.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 20px;
}

ul{
  padding-left: 0;
}

.category-box{
  overflow-x: auto;
}

.categories{
  flex-wrap: wrap;
}

.menu {
  padding: 10px;
  text-align: center;
}

.product-cardbox {
  width: 50%;
}

.product-cardbox:hover {
  scale: 1.05;
  transition: all 0.5s;
  cursor: pointer;
}

.choice {
  color: gray;
  font-size: 10px;
}


@media (min-width: 768px) {
  /* .menu {
  } */

  .product-cardbox {
    width: 25%;
  }

  .logo {
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 20px;
  }
}