.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.search-bar {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  width: 200px;
}

.search-bar input {
  border: none;
  margin-left: 10px;
}

.search-bar input[type="text"]:focus {
  outline: none;
  /* 텍스트 입력 필드가 포커스된 상태일 때 테두리 제거 */
}

.logo {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 20px;
}

.logo img:hover {
  scale: 1.1;
  transition: all 0.5s;
}

ul {
  padding-left: 10px;
}

.categories {
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.menu {
  padding: 10px;
  text-align: center;
}

.menu:hover {
  color: red;
  font-weight: 800;
}

.product-cardbox {
  width: 50%;
}

.product-cardbox:hover {
  scale: 1.05;
  transition: all 0.5s;
  cursor: pointer;
}

.product-image{
  padding:20px;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.choice {
  color: gray;
  font-size: 10px;
}

.new-arrivals {
  animation: blink 2.5s infinite
}

.add-cart {
  height: 50px
}

.add-cart:hover {
  background: #000;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login-page {
  margin: auto;
  padding-top: 50px;
}


@media (min-width: 768px) {

  .login-page {
    width: 500px;
  }

  .product-cardbox {
    width: 25%;
  }

  .logo {
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 20px;
  }

  .product-image{
    width: 50%;
  }
  .product-info{
    width: 50%;
  }
}